.vs/
WinApp/obj/
Droid/obj/
packages/
Droid/bin/
WinPhone81/obj/
iOS/bin/
iOS/obj/
Components/
*.bak
*.user
*.suo
donnam_testforms/bin/
donnam_testforms/obj/
Droid/docsync.log
WinApp/bin/
WinPhone81/bin/
MobileAppsFilesSample/bin/
MobileAppsFilesSample/obj/
